.image-float {
    float: left;
    max-width: 35em;
    padding-bottom: 1em;
    padding-right: 1em;
    width: 100%;
}

.image-full {
    width: 100%;
}

.table-tech {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 1em;
    width: 100%;
}

.table-tech td,
.table-tech th {
    border: 1px solid #000;
    color: white;
    padding: 8px;
}

.table-tech tr {
    background-color: #6c757d;
}

.table-tech tr:nth-child(even){
    background-color: #495057;
}

.table-tech tr:hover {
    background-color: #454545;
}

.table-tech th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
}

.aside-ul {
    color: #fff;
    vertical-align: top;
}

.aside-ul a {
    padding: 0 1em;
    line-height: 2;
    width: calc(100% - 5em);
}

.aside-ul a:hover {
    background-color: #000;
}

.aside-ul-media {
    padding: 0;
}

.aside-ul-media li {
    padding: 0;
    list-style: none;
    vertical-align: middle;
    min-height: 4em;
    margin-bottom: 1.5em;
}

.aside-ul-media li img {
    float: left;
    width: 4em;
}

.aside-ul-media li a {
    display: inline-block;
}

.content-col-half {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.extra-padding-right {
    padding-right: 1em;
}

.extra-padding-left {
    padding-left: 1em;
}

.content-gallery {
    display: flex;
    font-size: 0;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content-gallery img {
    display: inline-block;
    height: auto;
    width: 32%;
}

@media (max-width: 800px) {
    .content-col-half {
        width: 100%;
    }
}